* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "montserrat";
    transition: 0.2s ease;
}
$color1: #181835;
$color2: #f22989;
$color3: #5d4afe;
$inactive: #606176;
$color4: #1f2045;
$color5: #5282c7;

::-webkit-scrollbar {
    width: max-content;
    * {
        transition: 0.2s ease;
    }
}

::-webkit-scrollbar-track {
    background: $color4;
    box-shadow: inset 0 0 5px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darken($color: $color2, $amount: 20);
    border-radius: 8px;
    border: 4px solid transparentize($color: white, $amount: 1);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($color: $color2, $amount: 0);
    border-radius: 8px;
    border: 4px solid transparentize($color: white, $amount: 1);
    background-clip: padding-box;
}

body {
    background-color: $color1;
}

body::after {
    filter: url(#grainy);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.2;
    content: "sos";
    pointer-events: none;
}

.nav_active {
    background: transparentize($color: $color1, $amount: 0.7);
    backdrop-filter: blur(4px);
}
.nav {
    display: flex;
    align-items: center;
    padding: 0 100px;
    height: 144px;
    // border-bottom: 2px solid $color2;
    // 
    position: relative;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    
    isolation: isolate;
    z-index: 10;
    .logo {
        color: white;
        font-size: 24px;
    }
    .ham {
        margin-left: auto;
    }
    .links {
        display: flex;
        gap: 24px;
        margin: 0 auto;
        a {
            color: $inactive;
            cursor: pointer;
            position: relative;
        }
        a:is(:focus, :active, :hover) {
            color: white;
        }
        a::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -20px;
            margin: auto;
            width: 20px;
            height: 4px;
            background: linear-gradient(to left, $color2, $color3);
            border-radius: 2px;
            opacity: 0;
            transition: 0.5s ease;
        }
        a:focus::after {
            opacity: 1;
        }
    }
    .button {
        background: linear-gradient(to right, $color3, $color2);
        padding: 4px;
        font-size: 16px;
        color: white;
        width: 128px;
        height: 44px;
        display: grid;
        place-items: center;
        border-radius: 4px;
    }
}

.filter {
    position: absolute;
    height: 20px;
    width: 20px;
    // background-color: red;
    display: none;
}
// body::before, body::after {
//     // background-color: $color1;
//     // filter: url(#grainy);
//     position: absolute;
// }
.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    // background-color: blue;
    height: 766px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
    align-self: center;
    // max-height: 700px;
}
.Img_cont {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1;
    // background-color: red;
    display: flex;
    justify-content: center;
    // height: 300px;
    min-width: 302px;
    position: relative;
    
    .container {
        $col2: transparentize($color4, 1);
        transform: scale(1.4);
        position: absolute;
        mask-image: radial-gradient(#000, rgba(0, 0, 0, 0));
        -webkit-mask-image: radial-gradient(
            #000,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        );
    }
    .content {
        width: 100%;
        // background-color: red;
        transform: scale(0.9);
        img {
            padding: 2px;
            height: 100%;
            transform: scale(1.2);
        }
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img {
        height: 100%;
        width: 100%;
        padding: 2px;
    }
}

.hero_cards {
    height: 80%;
    position: relative;
    width: 100%;
    // align-self: center;
    img {
        height: 100%;
        position: absolute;
        inset: 0;
        width: max-content;
        margin: auto;
    }
    img:nth-child(1) {
        transform: translateY(100px)  rotate(20deg) skew(-20deg,-10deg);
    }
    img:nth-child(2) {
        transform: translateY(0)  rotate(20deg) skew(-20deg,-10deg);
    }
    img:nth-child(3) {
        transform: translateY(-100px)  rotate(20deg) skew(-20deg,-10deg);
    }
   
    
}
.watermark {
    color: white;
    padding: 1px;
    gap: 4px;
    border-radius: 18px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 1px;
    width: max-content;
    .container {
        display: flex;
        padding: 12px 14px;
        background-color: $color4;
        display: flex;
        align-items: center;
        border-radius: 18px;
        gap: 8px;
        h4 {
            font-weight: 500;
        }
    }
}

.watermark::after {
    content: "";
    margin: auto;
    border-radius: 18px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, $color5, $color2);
    z-index: -1;
    animation: rotate_gradient 4s infinite linear;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 350px;
    padding: 12px 4px;
    gap: 16px;
    max-width: 500px;
    h1 {
        font-size: 48px;
        font-weight: 900;
        color: white;
    }
    p {
        color: white;
        font-weight: 500;
        color: $inactive;
    }
    .buttons {
        display: flex;
        gap: 12px;
        padding: 4px 0;
    }
    .hero_btn {
        outline: none;
        border: none;
        background: linear-gradient(to right, $color3, $color2);
        padding: 4px;
        font-size: 16px;
        color: white;
        width: 128px;
        height: 44px;
        display: grid;
        place-items: center;
        border-radius: 4px;
    }
}

.section_2 {
    .hero {
        h1 {
            font-size: 38px;
        }
        p {
            font-size: 14px;
        }
    }
}
.card {
    width: 320px;
    aspect-ratio: 4/5;
    border-radius: 8px;
    padding: 2px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    .container {
        width: 100%;
        height: 100%;
        background-color: $color1;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4px;
        .content_img {
            height: 50%;
            width: 100%;
            padding: 4px 12px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        .title_name {
            display: flex;
            flex-direction: column;
            gap: 4px;
            height: 100%;
            h5 {
                font-size: 14px;
                color: white;
                font-weight: 500;
            }
        }
        .title_time {
            display: flex;
            flex-direction: column;
            gap: 4px;
            height: 100%;
            p {
                color: $inactive;
                font-size: 14px;
            }
            h5 {
                color: white;
                font-weight: 500;
            }
        }
    }
    .bid {
        display: flex;
        justify-content: space-between;
        padding: 4px 12px;
        .bidding {
            display: flex;
            flex-direction: column;
            gap: 4px;
            height: 100%;
            padding: 4px 0;
            p {
                font-size: 12px;
                color: $inactive;
            }
            h5 {
                color: white;
            }
        }

        .button {
            outline: none;
            border: none;
            color: white;
            padding: 8px;
            border-radius: 2px;
            font-size: 12px;
            background: linear-gradient(to right, $color3, $color2);
        }
    }
    h5 {
        font-weight: 500;
    }
}

.button {
    cursor: pointer;
}
.card::after {
    background: linear-gradient(to bottom, $color3, $color2);
    content: "";
    position: absolute;
    width: calc(100%);
    aspect-ratio: 1/1;
    border-radius: 100%;
    animation: dub 5s linear infinite;
    z-index: -1;
    inset: 0 0;
    margin: auto;
    transform: scale(2);
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
    // background-color: red;
    height: 62px;
    width: 100%;
    padding: 4px 12px;
    .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        h5 {
            color: white;
        }
        p {
            color: $inactive;
            font-size: 12px;
        }
    }
    .icon {
        margin-left: auto;
        color: white;
        font-size: 18px;
    }
    // padding: 4px;
    img {
        height: 38px;
        width: 38px;

        border-radius: 100%;
    }
}
.nft_view_section {
    height: max-content;
    padding: 12px 0;
}
.nft_view {
    display: flex;
    flex-direction: column;
    gap: 32px;
    // background-color: red;
    width: 100%;
    > .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
        place-items: center;
    }
    h2 {
        font-size: 44px;
        color: white;
        align-self: center;
    }
    p {
        align-self: center;
        max-width: 500px;
        text-align: center;
        color: lighten($color: $inactive, $amount: 10);
    }
    .nft_filters {
        display: flex;
        width: 100%;
        max-width: 1100px;
        gap: 4px;
        padding: 4px;
        align-self: center;
        justify-content: center;
        gap: 16px;

        .nft_filter {
            color: white;
            font-weight: 500;
            border-radius: 2px;
            padding: 12px;
            font-size: 14px;
            outline: 1px solid $inactive;
            text-transform: capitalize;
            cursor: pointer;
            transition: 0.2s ease;
        }
        .active {
            transition: 0.2s ease;
            background: linear-gradient(to right, $color3, $color2);
            outline: none;
        }
    }
}

.items {
    height: 200px;
    width: 200px;
    // aspect-ratio: 1/1;
    background-color: red;
    margin: 0px 4px;
}

.top_artist {
    padding: 2px;
    width: 100%;
    .my_carousel {
        // background-color: transparentize($color: $color3, $amount: .9);
        padding: 12px 4px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .carousel_info {
            display: flex;
            justify-content: space-between;
            .info {
                width: 100%;
                max-width: 400px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                h1 {
                    color: white;
                    font-size: 48px;
                }
                p {
                    font-size: 12px;
                    color: lighten($color: $inactive, $amount: 20);
                }
            }
            .buttons {
                display: flex;
                gap: 10px;
                align-items: center;
                button {
                    outline: none;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    font-size: 22px;
                    height: 48px;
                    aspect-ratio: 1/1;
                    background: linear-gradient(to right, $color3, $color2);
                }
            }
        }
    }
}

.nft_hero {
    width: 240px;
    aspect-ratio: 1/1;
    position: relative;
    isolation: isolate;
    padding: 2px;
    overflow: hidden;
    border-radius: 8px;
    .container {
        border-radius: 8px;
        background-color: $color4;
        width: 100%;
        height: 100%;
        padding: 12px;
        display: flex;
        flex-direction: column;
        .holder {
            height: 70%;
            border-radius: 12px;
            position: relative;
            > img {
                height: calc(70%);
                width: 100%;
                border-radius: 8px;
            }
            .info {
                display: flex;
                flex-direction: column;
                h5 {
                    color: white;
                }
                p {
                    color: $inactive;
                }
            }

            .avatar {
                position: absolute;
                inset: 0;
                // bottom: -0px;
                width: max-content;
                margin: auto;
                height: 44px;
                aspect-ratio: 1/1;
                border-radius: 100%;
                padding: 1px;
                // background-color: red;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                    object-fit: cover;
                }
            }
            .info {
                align-self: center;
                // background-color: red;
                text-align: center;
            }
        }
        .details {
            display: flex;
            height: 25%;
            align-items: center;
            margin-top: auto;
            .v1 {
                height: 100%;
                border-left: 2px solid $inactive;
                margin: 0 auto;
            }
            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: max-content;
                h5 {
                    color: white;
                }
                p {
                    color: $inactive;
                }
            }
        }
    }
}
.nft_hero::before {
    background: linear-gradient(to bottom, $color3, $color2);
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100%);
    aspect-ratio: 1/1;
    border-radius: 100%;
    animation: dub 5s linear infinite;
    z-index: -1;
    inset: 0 0;
    margin: auto;
    transform: scale(2);
}

@keyframes rotate_gradient {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dub {
    0% {
        transform: rotate(0) scale(2);
    }
    100% {
        transform: rotate(350deg) scale(2);
    }
}

// .top_artist_section {
//     height: max-content;
//     padding: 12px 0;
// }
// section {
//     background-color: green;
// }

footer {
    width: 100%;
    height: 400px;
    background-color: $color4;
    border-top: 1px solid $color5;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 8px;
        .icon_content {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            * {
                color: white;
            }
        }
        .footer_content {
            display: flex;
            flex-direction: column;
            // width: max-content;
            width: auto;
            gap: 8px;
            .content {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
            p {
                margin-bottom: 4px;
                color: $inactive;
                cursor: pointer;
                font-size: 16px !important;
            }
            * {
                color: white;
                font-weight: 500;
            }
            p:hover {
                color: white;
            }

            // .content {
            //     background-color: red;
            //     max-width: 300px;
            //     display: flex;
            //     flex-direction: column;
            //     gap: 12px;

            // }
            p {
                font-size: 14px;
            }
        }
        .newsletter {
            display: flex;
            flex-direction: column;
            gap: 12px;
            h2 {
                color: white;
            }
            .input {
                width: max-content;
                height: 48px;
                outline: 1px solid $inactive;
                border-radius: 4px;
                input {
                    background: inherit;
                    outline: none;
                    border: none;
                    width: 300px;
                    padding: 4px;
                    height: 100%;
                    color: white;
                }
                button {
                    height: 100%;
                    padding: 4px 16px;
                    background: linear-gradient(to right, $color3, $color2);
                    color: white;
                    outline: none;
                    border: none;
                    border-radius: 4px;
                }
            }
        }
    }
}
.ham {
    z-index: 10;
}
.logo {
    z-index: 10;
}

.m_nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: $color4;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    a {
        font-size: 22px;
        color: $inactive;
    }
    a:hover,
    a:focus {
        color: white;
    }
}

.conclusion {
    width: 100%;
    height: 100%;
    position: relative;
    .c_card {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // background: linear-gradient(to right, $color3,$color2);
        // // height: 400px;
        // width: 200px;
        // aspect-ratio: 9/16;
        // inset: 0;
        // margin: auto;
        // content: "";
        margin: auto;
        // height: 400px;
        max-width: 880px;
        border-radius: 18px;
        aspect-ratio: 22/10;
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, $color3, $color2);
        // outline: 1px solid black;
        display: flex;
        justify-content: center;
    }
    .content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        width: 100%;
        max-width: 500px;
        text-align: center;
        * {
            color: white;
        }
        h2 {
            font-size: 34px;
        }

        a {
            height: 50px;
            display: grid;
            place-items: center;
            aspect-ratio: 24/9;
            font-size: 18px;
            background-color: white;
            border-radius: 4px;
            color: $color3;
            font-weight: 600;
        }
    }
    .c_card:nth-child(2) {
        opacity: 0.8;
        transform: translateY(20px) scaleX(0.96);
    }
    .c_card:first-child {
        transform: translateY(40px) scaleX(0.9);
        opacity: 0.5;
    }
}

.conc_section {
    height: 766px;
    padding: 12px 12px;
}
@media screen and (max-width: 1200px) {
    .nav {
        // background-color: red;
        padding: 0 12px;
    }
    .conc_section {
        height: 336px;
        .conclusion {
            .content {
                max-width: 300px;
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 12px;
                }
                a {
                    height: 30px;
                    font-size: 12px;
                }
            }
        }
    }
    section {
        background-color: blue;
        all: unset;
        box-sizing: border-box;
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 44px;
    }
    section:nth-child(8) {
        height: 100%;
    }
    .hero_section {
        margin-top: 124px;
    }
    .section_2 {
        flex-direction: column-reverse;
    }

    .nft_filters {
        display: flex;
        flex-wrap: wrap;
    }
    .nft_view {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
        > .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 10px;
            place-items: center;
        }
    }
    footer {
        height: max-content;
        padding: 14px 12px;
        .container {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        .newsletter {
            .input {
                display: flex;
                width: 300px !important;
                input {
                    width: 100% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .carousel_info {
        flex-direction: column;
        gap: 8px;
    }

    .nft_view {
        display: flex;
        flex-direction: column;
        gap: 32px;
        // background-color: red;
        width: 100%;
        > .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px 10px;
            place-items: center;
        }
    }
}

// debug
// * {
//     outline: 1px solid transparentize($color: red, $amount: .5);
// }
